.manateeparallax{
    height:1600px;
}
h1 {
    font-size: 96px;
    padding-top:150px;
    color:white;
}
.jokeDiv {
    padding-top:250px;
    position: relative;
    height:600px;
}
.form-control, .form-control:focus {
    border:none;
    box-shadow:none;
    border-bottom:1px solid white;
    background-color:inherit;
    border-radius:0px;
    color:white;
}
/*stackoverflow solution for changing placeholder colors*/

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:white;
    text-align: center;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
   text-align: center;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 1;
   text-align: center;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
   text-align: center;
}
.well {
    background-color: teal;
}
